<div id="header" class="app">
	<a href="/"><img id="logo" src="/images/light-logo.svg"></a>

	<a class="logout" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a>
</div>

<!--
<div>
	<div class="ui menu">
	</div>
	<div>
		<button ng-click="showAddStream();" class="ui button">
			New stream
		</button>
		<div id="filter" class="ui segment">
			<div class="ui relaxed divided list">
				<div class="item">
					<div class="content">
						<div class="header">Stream</div>
						<button ng-click="selectStream(stream);" ng-repeat="stream in streams">
							{{ stream.name }}
						</button>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="header">CDN</div>
					</div>
				</div>
				<div class="item">
					<div class="content">
						<div class="header">User</div>
					</div>
				</div>
			</div>
		</div>
		<div id="content" class="ui segment">
			{{ selectedStream }}
			<button ng-show="selectedStream" ng-click="removeStream();" class="ui button">
				Delete stream
			</button>
			<div>
				<canvas style="width: 50%;" id="radar" class="chart chart-radar" chart-data="streamData" chart-labels="streamLabels">
				</canvas>
				<canvas style="width: 50%;" id="line" class="chart chart-line" chart-data="userData" chart-labels="userLabels" chart-legend="true" chart-series="userSeries" chart-click="onClick">
				</canvas>
			</div>
		</div>
	</div>
</div>

<div id="addStreamModal" class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		New stream
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Stream name</label>
				<input ng-model="newStream.name" type="text" name="stream-name" placeholder="Stream name">
			</div>
			<div class="field">
				<label>Stream address</label>
				<input ng-model="newStream.address" type="text" name="stream-address" placeholder="Stream address">
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui black deny button">
			Cancel
		</div>
		<div ng-click="addStream();" class="ui positive right labeled icon button">
			Save
		</div>
	</div>
</div>

<div id="addStreamModal" class="ui modal">
	<i class="close icon"></i>
	<div class="header">
		New stream
	</div>
	<div class="content">
		<form class="ui form">
			<div class="field">
				<label>Stream name</label>
				<input ng-model="newStream.name" type="text" name="stream-name" placeholder="Stream name">
			</div>
			<div class="field">
				<label>Stream address</label>
				<input ng-model="newStream.address" type="text" name="stream-address" placeholder="Stream address">
			</div>
		</form>
	</div>
	<div class="actions">
		<div class="ui black deny button">
			Cancel
		</div>
		<div ng-click="addStream();" class="ui positive right labeled icon button">
			Save
		</div>
	</div>
</div>
-->
