<div id="header" class="app">
	<div class="container-vid">
		<a href="/"><img id="logo" src="/images/light-logo.svg">
		</a>

		<a class="logout" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a>
	</div>
</div>

<div class="container-vid">
	<a class="back" ng-href="/dashboard"><i class="fa fa-angle-left"></i> Back</a>
</div>

<div id="stream-container">
	<h1 id="videoTitle">{{ user }}</h1>

	<div class="ui large feed">
		<div class="event">
			<div class="label">
				<i class="circular pencil icon"></i>
			</div>
			<div class="content">
				<div class="summary">
					You submitted a new post to the page
					<div class="date">
						3 days ago
					</div>
				</div>
			</div>
		</div>
		<div class="event">
			<div class="label">
				<i class="circular pencil icon"></i>
			</div>
			<div class="content">
				<div class="summary">
					You submitted a new post to the page
					<div class="date">
						3 days ago
					</div>
				</div>
			</div>
		</div>
		<div class="event">
			<div class="label">
				<i class="circular pencil icon"></i>
			</div>
			<div class="content">
				<div class="summary">
					You submitted a new post to the page
					<div class="date">
						3 days ago
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
