<div id="header" class="app">
	<div class="container-vid">
		<a href="/"><img id="logo" src="/images/light-logo.svg">
		</a>

		<a class="logout" ng-click="logout()"><i class="fa fa-lock"></i> Logout</a>
	</div>
</div>

<div class="container-vid">
	<a class="back" ng-href="/dashboard"><i class="fa fa-angle-left"></i> Back</a>
</div>

<div id="stream-container">

	<div class="triangle-contain" style="margin-bottom: 100px;">
		<div id="triangle"></div>

		<div id="clientToCDN" style="position: absolute;left: 37%;top: 269px;">Client to CDN: {{ user.clientToCDN }}ms</div>
		<div id="clientToServer" style="position: absolute;left: 57%;top: 269px;">Client to Server: {{ user.clientToServer }}ms</div>
		<div id="serverToCDN" style="position: absolute;left: 47%;">Server to CDN: {{ user.serverToCDN }}ms</div>
	</div>

	<h1 id="videoTitle">{{ user.ip }}</h1>
	<h5 id="videoTitle">{{ user.city }}, {{ user.country }}</h5>

	<div id="timeline" class="ui large" style="position: relative; width:1550px; margin-left:auto; margin-right:auto; height: 50px; background-color: light-green; border-radius: 25px; background: #8494b2; padding-left: 20px; padding-right: 20px; line-height: 50px;">

	</div>

<br><br>
	<div class="ui large feed">
		<div ng-repeat="event in user.event" class="event">
			<div class="label">
				<i ng-class="{'warning sign': messageContains(event.message, 'flash'), 'plus': messageContains(event.message, 'playlist'), 'spinner': messageContains(event.message, 'buffering'), 'checkmark': messageContains(event.message, 'complete'), 'linkify': messageContains(event.message, 'HTTP'), 'attach': messageContains(event.message, 'meta'), 'play': messageContains(event.message, 'playing'), 'record': messageContains(event.message, 'quality options')}" class="circular icon"></i>
			</div>
			<div class="content">
				<div class="summary">
					{{ event.message }}
					<div class="date">
						{{ convertDate(event.timestamp) }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
