#filter {
	border-radius: 0px;
	width: 25%;
	height: 100%;
	display: inline-block;
	float: left;
}

#content {
	border-radius: 0px;
	width: 75%;
	height: 100%;
	display: inline-block;
	float: right;
}
