<div id="hero">
	<div id="animation">
		<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 600" enable-background="new 0 0 1400 600">
			<polyline class="animation-draw" fill="none" stroke="#f2f2f2" stroke-miterlimit="10" stroke-width="15" points="8,616.5 210.8,380.3 410.8,358.8 610.7,256.8 810.2,227.2
	1010.2,147.3 1209,127 1407.9,13.7 " />
		</svg>
	</div>

	<div id="content">
		<img id="logo" src="/images/light-logo.svg">

		<div id="tagline">
			Quality of experience monitoring
		</div>

		<a ng-show="!currentUser" ng-href="/login" id="callToAction">Join Now</a>
		<a ng-show="currentUser" ng-href="/login" id="callToAction">Goto dashboard</a>
	</div>
</div>

<div id="features">
	<div class="feature">
		<i class="fa fa-sitemap"></i>

		<h1>QOE Triangulation</h1>
	</div>
	<div class="feature">
		<i class="fa fa-cog"></i>

		<h1>Manifest Engineering</h1>
	</div>
	<div class="feature">
		<i class="fa fa-line-chart"></i>

		<h1>Analytics</h1>
	</div>
</div>

<div id="footer">
	<div class="vid-container">
		Made by idiots
	</div>
</div>
